* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-header-logo {
  height: 80%;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: solid black 1px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name {
  width: 50%;
  margin: 10px;

}

#input-lastname {
  width: 50%;
  margin: 10px;
}

#nameLastname {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#input-email {
  width: 345px;
  margin-right: 20px;
  margin-left: 10px;
}

#emailHouse {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
